.card {
    color: #fff;
    background: #ddd;
    text-align: center;
    border-radius: 5px;
}

.title {
    background: blue;
    padding: 5px;
    border-radius: 5px;
}

.content {
    padding: 5px;
}